In [21]:
import os

import numpy as np
import pandas as pd

In [22]:
flights_df = pd.read_excel(r"../data/Flights.xlsx", index_col="flight_id")
routes_df = pd.read_excel(r"../data/Routes.xlsx", index_col="route_id")
airports_df = pd.read_excel(r"../data/Airports.xlsx", index_col="airport_id")

In [31]:
flight_type = []
for index in range(1, flights_df.index.size + 1):
    route = routes_df.loc[flights_df["route_id"].loc[index]]

    departure = airports_df.loc[route["departure_airport_id"]]
    arrival = airports_df.loc[route["arrival_airport_id"]]
    
    if departure["geographic_location"] == "North America" and arrival["geographic_location"] == "North America":
        flight_type.append("Internal North America")
        
    if departure["geographic_location"] == "Europe" and arrival["geographic_location"] == "Europe":
        flight_type.append("Internal Europe")
    
    if departure["geographic_location"] != arrival["geographic_location"]:
        flight_type.append("Intercontinental")

In [32]:
flights_df["flight_type"] = flight_type

In [33]:
flights_df["flight_type"].value_counts()

Internal Europe           4505
Intercontinental          4413
Internal North America    1082
Name: flight_type, dtype: int64

In [36]:
flights_df.head()

,airline_id,route_id,flight_code,duration,passengers,flight_type
flight_id,,,,,,
1,1,1,RYR001SFOGDN,02:20:00,120,Intercontinental
2,8,2,DAL001YULKOB,06:40:00,150,Intercontinental
3,4,3,SEU001TXLMIL,11:40:00,62,Internal Europe
4,1,4,RYR001MCIATL,15:20:00,120,Internal North America
5,4,5,SEU001YWGCFU,02:40:00,69,Intercontinental

In [37]:
flights_df.to_excel("../data/Flights.xlsx")