In [1]:
import sqlite3
import numpy as np
import pandas as pd
from datetime import datetime as dt, timedelta

In [2]:
airlines_df = pd.read_excel("../data/Airlines.xlsx", index_col="AirlineId")
airports_df = pd.read_excel("../data/Airports.xlsx", index_col="AirportId")
routes_df = pd.read_excel("../data/Routes.xlsx", index_col="RouteId")
flights_df = pd.read_excel("../data/Flights.xlsx", index_col="FlightId")

In [3]:
INSERT_TEMPLATE = "INSERT INTO {table_name} {columns_tuple} VALUES {values_tuple};\n"

In [4]:
def insert_into_sql_table(data, table_name, index):
    columns = (data.index.name, ) + tuple(data.columns)
    values = (index, ) + tuple(data.iloc[index - 1].tolist())
    
    return INSERT_TEMPLATE.format(table_name=table_name, columns_tuple=columns, values_tuple=values).replace("\'", "\"")

In [5]:
with open(r"../scripts/sql/populate_db.sql", "w", encoding="utf8") as f:
    for index in airlines_df.index.tolist():
        f.write(insert_into_sql_table(airlines_df, "Airline", index))
    f.write("\n")
        
    for index in airports_df.index.tolist():
        f.write(insert_into_sql_table(airports_df, "Airport", index))
    f.write("\n")
        
    for index in routes_df.index.tolist():
        f.write(insert_into_sql_table(routes_df, "Route", index))
    f.write("\n")
    
    for index in flights_df.index.tolist():
        f.write(insert_into_sql_table(flights_df, "Flight", index))
    f.write("\n")

In [7]:
insert_into_sql_table(airlines_df, "Airline", 4)

'INSERT INTO Airline ("AirlineId", "Name", "AirlineCode") VALUES (4, "Air France-KLM", "SEU");\n'